<div class="main_controller">


	<div class="top_bar">
	
		<div class="logo_container">
			<div class="line_center">
				<a href="/#/main/adverts" class="user_select_none">Kuplu.Online</a>
			</div>
		</div>

		<div class="toolkit">
			<div class="line_center"
				ng-show="$root.USER"
				>
				<div class="messages_block">
					<md-icon class="not_active">add_alert</md-icon>
					<span>Сообщения:</span>
					<span class="text">Нет сообщений!</span>
				</div>
			</div>
		</div>



		<div class="cur_date">
			<div class="line_center">
				<div class="time_wrap">
					<div>{{CURRENT_DATE.time_str}}</div>
					<span>{{CURRENT_DATE.week_day_str}}</span>
					<span>{{CURRENT_DATE.day_str}}</span>
				</div>
			</div>
		</div>

		<div class="user_name">
			<div class="line_center">
				<md-menu
					ng-show="$root.USER"
					>
					<md-button class="user_btn" ng-click="open_dropdown($mdMenu,$event)">
						<img class="avatar" ng-src="{{$root.USER['avatarUrl']}}">
						<span>{{$root.USER.visibleName}}</span>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item><span>{{$root.USER.visibleName}}</span></md-menu-item>
						<md-menu-divider></md-menu-divider>
						<md-menu-item><md-button ng-click="goToProfile()">
							<md-icon>subject</md-icon>Профиль
						</md-button></md-menu-item>
						<md-menu-item>
							<md-button ng-click="logout()">
							<md-icon>exit_to_app</md-icon>Выйти
							</md-button>
						</md-menu-item>
					</md-menu-content>
				</md-menu>
				<md-button
					ng-show="!$root.USER"
					ng-click="loginAndReload()"
					>
					<md-icon>input</md-icon>
					<span>ВОЙТИ</span>
				
				</md-button>
				
			</div>
		</div>

	</div>



	<!-- content -->
	<div class="content">
		<div ui-view></div>
	</div>



</div>