<div class="main_controller">


	<div class="top_bar">


		<div class="toolkit">
			<div class="line_center">
				<div class="messages_block">
					<md-icon class="not_active">add_alert</md-icon>
					<span>Сообщения:</span>
					<span class="text">Нет сообщений!</span>
				</div>
			</div>
		</div>

		<div class="logo_container">
			<div class="line_center">
				<a href="/" class="user_select_none">Kuplu.UA</a>
			</div>
		</div>

		<div class="cur_date">
			<div class="line_center">
				<div class="time_wrap">
					<div>{{CURRENT_DATE.time_str}}</div>
					<span>{{CURRENT_DATE.week_day_str}}</span>
					<span>{{CURRENT_DATE.day_str}}</span>
				</div>
			</div>
		</div>

		<div class="user_name">
			<div class="line_center">
				<md-menu>
					<md-button class="user_btn" ng-click="open_dropdown($mdMenu,$event)">
						<i class="material-icons">account_circle</i>
						<span>Sergiy Sergiyovich Sergiyovich</span>
					</md-button>
					<md-menu-content width="4">
						<md-menu-item><span>Sergiyovich Sergiyovich</span></md-menu-item>
						<md-menu-divider></md-menu-divider>
						<md-menu-item><md-button>
							<md-icon>subject</md-icon>Profile
						</md-button></md-menu-item>
						<md-menu-item><md-button>
							<md-icon>exit_to_app</md-icon>Log Out
						</md-button></md-menu-item>
					</md-menu-content>
				</md-menu>
			</div>
		</div>

	</div>



	<!-- content -->
	<div class="content">

		<div class="create_advert_container">

			<div class="title">
				<h1>Доска намерений: КУПИТЬ, ПРОДАТЬ, АРЕНДОВАТЬ</h1>
				<!--
				<h1>1. Вы можете разместить объявление о намерениях купить товары, заказать услуги или аренды теперь легко и быстро</h1>
				<h1>2. Ожидать предложений на почту!</h1>
				<h1>3. Минимум времени, минимум контактов, бытрота решения проблемы!</h1>

				-->
			</div>


			<div class="advantages md-whiteframe-3dp">
				<div class="owl-carousel" owl-carousel>
					<div class="item">
						<h3>Быстро и Легко разместить намерение</h3>
						<p>Вы можете в несколько кликов в течении 5 минут создать и разместить объявление.<br><strong>Это класс!</strong></p>
					</div>
					<div class="item">
						<h3>Минимум опубликованых контактов</h3>
						<p>От Вас требуется только один публичный контакт - почтовый адрес куда будут приходить предложения. Номер телефона нужен для поддержки работы сайта и контакта с Вами. Телефон не будет показан на сайте. Это супер!</p>
					</div>
					<div class="item">
						<h3>Отсутствие навязчивости</h3>
						<p>Вы рассматриваете предложения и не контактируете с поставщиком пока Вы этого сами не пожелаете.Это зе бест!</p>
					</div>
					<div class="item">
						<h3>Возможность выбрать лучшее предложение</h3>
						<p>Вы можете из нескольких предложение выбрать лучшее по цене или учловиям.Это просто вообще!</p>
					</div>
					<div class="item">
						<h3>Экономия времени</h3>
						<p>Вы можете разместив намерение - продолжать работать, остальное сдалеает система.Это....слов уже нет!</p>
					</div>
				</div>
			</div>

			<div class="advert_form">
				<md-input-container class="select_container">
					<label>
						Description
					</label>
					<md-select data-ng-model="lineWidth">
						<md-option value="test_1">Test1</md-option>
						<md-option value="test_2">Test2</md-option>
						<md-option value="test_3">Test3</md-option>
					</md-select>
				</md-input-container>


				<md-input-container>
					<label>
						What Exactly
					</label>
					<input>
				</md-input-container>

				<md-input-container>
					<label>
						What Exactly
					</label>
					<input>
				</md-input-container>


			</div>
		</div>

		<div class="results_content">
			<ui-view></ui-view>
		</div>

	</div>



</div>