md-dialog
	{
	position:relative;
	}

md-dialog,
md-toolbar
	{
	border-radius:0px !important;
	

	}
	
.md-toolbar-tools
	{
	justify-content:space-between;
	}
	
md-toolbar:not(md-menu-toolbar)
	{
	background:darken($accent,10%) !important;
	}
	
	
md-dialog-content
	{
	padding-bottom:30px;
	}
	
	
md-dialog[role=alertdialog], md-dialog.confirmdialog
	{
	
	max-width:400px;
	min-width:550px;
	@media(max-width:768px)
		{
		min-width:300px;
		}
	
	
	.md-dialog-content-body
		{
		text-align:center;
		}
	
	
	h2:before
		{
		font-family: Material Icons;
		content: "report_problem";
		color: $error;
		display: block;
		font-size: 46px;
		margin-bottom: 15px;
		}
		
	h2
		{
		text-align:center;
		font-weight:bold;
		
		}
		
	md-dialog-actions
		{
		padding:0px;
		min-height:auto;
		
		button
			{
			width:100%;
			border-radius:0px;
			background:$error;
			color:white !important;
			line-height:50px;
			}
			
		p{color:gray;}
			
		button:hover,
		button:focus
			{
			background:darken($error,10%) !important;
			}
			
		}
		
		
	}
	
	
md-dialog.confirmdialog
	{
	min-width:300px;

	h2
		{
		font-weight:normal !important;
		}
		
		
	h2:before
		{
		content:'thumb_up' !important;
		color:$accent;
		}
	
	md-dialog-actions button
		{
		background:$accent !important;
		color:white;
		}

	md-dialog-actions button:hover, md-dialog-actions button:focus
		{
		background:darken($accent,10%) !important;
		}
		
	}
	
	
	
	//for confirmation ($dmDialog.confirm)
md-dialog[role=dialog]:not(.custom)
	{
	width:500px;
	
	@media(max-width:700px)
		{
		width:300px;
		}
	
	h2.md-title
		{
		text-align:center;
		color:#5d5d5d;
		letter-spacing:1px !important;
		}
		
		
	button:nth-of-type(1)
		{
		margin-right:20px !important;
		color:#954f90 !important;
		}
		
	button.md-default-theme:nth-of-type(2)
		{
		box-shadow:0 2px 5px 0 rgba(0,0,0,.26);
		background:$accent;
		color:white !important;
		}
	button.md-default-theme:nth-of-type(2):hover, button:nth-of-type(2):focus
		{
		background:darken($accent,15%) !important;
		}
		
		
	}
	
md-dialog.custom
	{
	width:650px;
	
	md-dialog-content
		{
		.md-headline
			{
			font-size:16px;
			text-align:center;
			}

		}
	
	}
	
	