@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../styles/material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
  local('MaterialIcons-Regular'),
  url(../styles/material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
  url(../styles/material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
  url(../styles/material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.main_wrap
  {
  width:100%;
  height:100%;
  display:table;
  position:relative;
  }


body
  {
  background:#f7f7f7;
  padding:0px !important;
  box-sizing:border-box;
  height:100%;
  }

[ui-view='']
	{
	height:100%;
	}


.transitioned
  {
  transition:all ease;
  transition-duration:0.7s;
  }

.transitioned.fast{transition-duration:0.5s;}
.transitioned.very_fast{transition-duration:0.3s;}
.transitioned.normal{transition-duration:0.7s;}
.transitioned.slow{transition-duration:1s;}
.notransitioned{transition-duration:0s;}


md-icon
  {
  outline-width:0px;
  }


  
  
.user_select_none
  {
  user-select:none;
  }

  
  

.not_visible
	{
	visibility:hidden;
	}	
	

//set colors
$primary:#9b518b;  //most frequent color
$dark_primary:#651e55;  //most frequent DARK color (rare)
$light_primary:#ff7d7d;  //most frequent LIGHT color

$accent:#3beacf;  //for key parts in UI

$primary_text:#555; //for headers
$secondary_text:#999; //for gray text
$text:#555; //for plain text

$devider:#eee;


//$input_error:rgb(221,44,0); //red color for error on input fields when title page
$input_error:rgb(189, 0, 0); //red color for error on input fields when title page
$error:#ff5e5e; //color for input fields not from title


//!!!ONLY for TITLE
.advert_form
	{
	.md-button.md-raised.md-primary:not([disabled])
		{
		background:#55A79A!important;
		color:white;
		}

	}
	
	
	
.md-button
	{
	min-width:0px !important;
	margin:0px !important;
	overflow:visible;
	}



.md-primary.flat //for not raised buttons
	{
	span
		{
		color:$dark_primary;
		}
	}
	
//for cancel button
button.cancel, button.cancel span
	{
	color:#954f90 !important;
	md-icon{color:#954f90;}
	}


	
.md-button.md-raised.md-primary:not([disabled])	
	{
	color:darken($accent,30%);
	span
		{
		color:white;
		}
		
	background:$accent !important; 
	}
	
.md-button.md-raised.md-primary:not([disabled]):hover
	{
	color:darken($accent,30%);
	span
		{
		color:white;
		}
	background:darken($accent,10%) !important; 
	}	


	
.md-button.md-raised.md-primary.primary:not([disabled])	
	{
	span
		{
		color:white;
		}
		
	background:$primary !important; 
	}
	
.md-button.md-raised.md-primary.primary:not([disabled]):hover
	{
	span
		{
		color:white;
		}
	background:darken($primary,10%) !important; 
	}




	
//disable select for button
[ng-click]
	{
	user-select:none;
	}
	
.md-ripple-container
	{
	color:black !important;
	}
	

//letter-spacing for headers and titles
h1,h2,{letter-spacing:3px !important;}

h3, h4,h5,h6,h7 {letter-spacing:2px !important;}

h4,h5,h6,h7{font-weight:100;letter-spacing:1px !important;}
	 
span,p,label, input, textarea {letter-spacing:2px !important;}
button span{letter-spacing:1px !important;}





