

md-input-container
	{
	
	.md-input, md-select .md-select-value
		{
		//border-color:rgba($accent,0.7);
		border-bottom-color:lighten(rgba($secondary_text,0.7),20%);
		//color:rgba($accent,0.7);
		color:white;
		}

	//for placeholder of select field
	label, md-select .md-select-value.md-select-placeholder, md-select .md-select-icon
		{
		color:lighten(rgba($secondary_text,0.7),20%);
		//color:rgba($accent,0.7);
		}
		 
		
		
		
	//customization for typed.js
	label>div
		{
		display:inline-block;
		}
		
		
	//for blinking cursor
	label
		{
		text-align:left;
		div[typed-js]
			{
			font-size: 24px;
			text-align: left;
			//color: rgba($accent,0.7); 
			color:$accent;
			}
		span
			{
			animation:flash 1s infinite;
			-webkit-animation:flash 1s infinite;
			-moz-animation:flash 1s infinite;
			-o-animation:flash 1s infinite;
			-ms-animation:flash 1s infinite;
			-khtml-animation:flash 1s infinite;
			
			font-size: 24px;
			padding-left: 3px;
			//color: rgba($accent,0.7);
			color:$accent;
			}
		}

		
		
	//show typing text and hide static label
	[typed-js]
		{
		display:inline-block;
		}
	.static_label
		{
		display: none;
		//color:rgba($accent,0.7);
		color:lighten(rgba($secondary_text,0.7),20%);
		//color:rgba($acent,0.7);
		}		
		

	}		

//when input contains text
md-input-container:not(.md-input-invalid).md-input-has-value, md-input-container:not(.md-input-invalid).md-input-focused
	{
	.md-input, md-select .md-select-value
		{
		//border-color: rgba($accent,0.5);
		//color: rgba($accent,1);
		color:white;
		}

	label, md-select .md-select-icon
		{
		//color:rgba($accent,0.5);
		color:lighten(rgba($secondary_text,0.7),20%);
		}
	
	
	//show static_label	and hide typing
	[typed-js]
		{
		display:none;
		}
	.static_label
		{
		display:block;
		//color:rgba($accent,0.5);
		color:lighten(rgba($secondary_text,0.7),20%);
		}
		
	span.typed-cursor
		{
		display:none;
		}
		
		
	}
		
//when input focused
md-input-container.md-input-focused:not(.md-input-invalid)
	{
	label, .static_label, md-select .md-select-value.md-select-placeholder, md-select .md-select-icon
		{
		color:$accent;
		}
	.md-input, .md-select-value
		{
		color:white;
		border-color:$accent;
		}
	}

	
	
//FOR HINTS
div.hint
	{
    position: absolute;
    left: 2px;
    right: auto;
    bottom: 7px;
    font-size: 12px;
    line-height: 14px;
    transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);
    //color: #d4d4d4;
	color:lighten(rgba($secondary_text,0.7),20%);
	}

	

			
	