
.widget
  {
  background:white;
  //padding:20px 15px 50px 15px;
  box-sizing:border-box;
  max-width:1200px;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  margin-top:50px;
  }


.container
  {
  padding:30px 15px 50px 30px;
  }

.widget .header
  {
  color: $primary_text;
  padding: 20px;
  position: relative;
  border-bottom: 1px solid rgba(204, 204, 204, 0.35);

  h3
    {
    font-weight:100;
    text-transform:uppercase;
    margin:0px 0px 5px 10px;
    }

  h5
    {
    font-weight:100;
    color:$secondary_text;
    margin:0px 0px 0px 10px;

    }

  }

