<div class="profile_user_intentions">
	<myspinner class="off" ng-class="{'on':spinner,'off':!spinner}"></myspinner>
	
	<div class="key_figures">
		<div class="sub_title">
			<span>Статистика активности</span>
		</div>
		
		<div>
			<div class="item">
				<div class="title">Всего намерений</div>
				<div class="value">0</div>
			</div>
			<div class="item">
				<div class="title">Всего намерений</div>
				<div class="value">0</div>
			</div>
			<div class="item">
				<div class="title">Всего намерений</div>
				<div class="value">0</div>
			</div>			
		</div>
		
	</div>
	
	<div class="active_intentions">
		<div class="sub_title">
			<span>Активные намерения</span>
		</div>
		
		<div class="active_intentions_container">
			<div class="advert"
				ng-class="{'active':showMessages}"
				ng-repeat="advert in ADVERTS.data"
				ng-init="showBottomToolkit=false"
				ng-mouseover="showBottomToolkit = true"
				ng-mouseleave="showBottomToolkit = false"
				chat-messages
				>
				<div class="for_flex">
					<div class="description_col">
					
						<div class="date">{{advert['Created']|date:'yyyy-MM-dd HH:mm'}}</div>
						<div class="title">{{advert['Title']}}</div>
						<div class="region">{{advert['Region']['name']}} {{advert['City']['name']}}</div>
						<div class="desc">{{advert['Description']}}</div>

						<!-- <div class="show_more"><span md-ink-ripple="#9a508b"><md-icon>expand_more</md-icon>Смотреть сообщения</span></div> -->
						<div class="btn_block">
						
							<md-button class="show_more"
								ng-click="showMessages=!showMessages"
								ng-class="{'active':showMessages,'disabled':!advert.RelatedUsers.length}"
								ng-disabled="!advert.RelatedUsers.length"
								>
								<md-icon
									ng-hide="!advert.RelatedUsers.length"
									>expand_more</md-icon>
								<span
									ng-hide="!advert.RelatedUsers.length"
									>Смотреть сообщения</span>
								<span
									ng-show="!advert.RelatedUsers.length"
									>У Вас нет сообщений</span>
							</md-button>

							<span class="new_messages">1 новое</span>

							
							<div class="bottom_toolkit"
								ng-show="showBottomToolkit"
								>
								<md-button class="status"
									ng-click="closeAdvert(advert)"
									>
									<md-icon>gavel</md-icon>
									Закрыть намерение
								</md-button>
								<md-button class="edit"
									ng-click="editAdvert(advert)"
									>
									<md-icon>edit</md-icon>
									Редактировать
								</md-button>
							</div>
							
							
						</div>

					</div>
				
					<div class="price_tools_col">
						<div class="price">{{advert['Price']|mycurrency}} {{advert['Currency']}}</div>
						<div class="price_desc" ng-show="advert['IsPricePerUnit']">(за {{advert['PriceUnit']}})</div>
						<div class="price_desc" ng-show="!advert['IsPricePerUnit']">(всего)</div>
					</div>
				</div>

				<div class="chat_container"
					ng-class="{'show_messages':showMessages}"
					>
					<div class="container_">
						<div class="left"  perfect-scrollbar>
							<ul class="people">
								<li class="person"
									ng-repeat="user in advert.Users"
									ng-click="pickUser(user)"
									ng-class="{'active':user.messagesVisible}"
									>
									<img ng-src="{{user['avatarUrl']}}"/>
									<span class="name">{{user['visibleName']}}</span>
									<span class="time">{{user['lastMessage']['dateStr']}}</span>
									<span class="preview">{{user['lastMessage']['text']}}</span>
								</li>								
							</ul>
						</div>
						<div class="right">
							<div class="top"><span>To: <span class="name">{{getActiveUser()['visibleName']}}</span></span></div>
				
							<div class="wrap" 
								ng-repeat="user in advert['Users']"
								ng-if="user['messagesVisible']"
								>
							
								<div class="chat active-chat"
									perfect-scrollbar
									user-id="{{user['_id']}}"
									>
									<div class="conversation-start">
										<span>Today, 6:48 AM</span>
									</div>
									<div class="bubble"
										ng-class="{'you':$root.USER._id==mess['from'],'me':$root.USER['_id']!=mess['from']}"
										ng-repeat="mess in user['messages']"
										>
										{{mess['text']}}
									</div>
									
								</div>
							
								<div class="write"
									ng-init="writeInputFocused = false"
									ng-class="{'active':writeInputFocused}"
									>
									<!-- <a href="javascript:;" class="write-link attach"></a> -->
									<input type="text"
										ng-focus="writeInputFocused=true"
										ng-blur="writeInputFocused=false"
										enter-press="sendMess(advert)"
										ng-model="message['text']"
										>
									<!-- 
									<a href="javascript:;" class="write-link smiley"></a> -->
									<md-icon
										ng-show="!messSpinner"
										ng-click="sendMess(advert)"
										>send</md-icon>
									<md-icon
										class="mess_spinner spin animated fadeIn"
										ng-show="messSpinner"
										>cached</md-icon>

								</div>
							</div>


						</div>
					</div>
				</div>
			</div> <!--close adverts-->

		
		</div>
		
		
	</div>
	
	
	


	
	<div class="timeline_container">

		<div class="sub_title">
			<span>История намерений</span>
		</div>

		

		
		<div class="month_container"
			ng-repeat="advert in ADVERTS_HISTORY.data"
			chat-messages
			>

			<div class="block current_date"
				ng-if="showHistorySplitter($index)"
				>
				<div>{{advert['dateForHistorySplitter']}}</div>
			</div>

			
			<div class="block advert_block"
				ng-click="showAdvert=!showAdvert;advertHistoryClick()"
				ng-class="{'active':showAdvert}"
				>
				<div class="date_point">
					<div>{{advert['Created']|date:'dd'}}</div>
					<div>{{advert['Created']|date:'MMM'}}</div>
				</div>

			
				<div class="advert">
					<div class="for_flex">
						<div class="description_col">
							<div class="title">{{advert['Title']}}</div>
							<div class="region">{{advert['Region']['name']}} {{advert['City']['name']}}</div>
							
							<div class="desc">{{advert['Description']}}</div>
						</div>
						
						<div class="price_tools_col">
							<div class="price">{{advert['Price']|mycurrency}} {{advert['Currency']}}</div>
							<div class="price_desc" ng-show="advert['IsPricePerUnit']">(за {{advert['PriceUnit']}})</div>
							<div class="price_desc" ng-show="!advert['IsPricePerUnit']">(всего)</div>
						</div>
					</div>
					
					<h4>Ваши сообщения:</h4>
					<dynamic-chat ng-if="showAdvert"></dynamic-chat>
					
					
				</div>

			</div>

		</div>

			
	</div>

</div>