<div class="profile_user_messages">



	<div class="sub_title">
		<span>Отклики по активным намерениям</span>
	</div>

	
	<div class="chat_container">
		<div class="container_">
			<div class="left"  perfect-scrollbar>
				<ul class="people">
					<li class="person" 
						ng-repeat="advert in ADVERTS.data"
						ng-click="pickAdvert(advert)"
						ng-class="{'active':advert['isVisible']}"
						>
						
						<div class="advert">
									
							<div class="advert">
								<div class="for_flex">
									<div class="avatar">
										<img ng-src="{{advert['OwnerObj']['avatarUrl']}}">
										<div class="user_name">{{advert['OwnerObj']['visibleName']}}</div>
									</div>
								
									<div class="description_col">
										<div class="title">{{advert['Title']}}</div>
										<div class="region">{{advert['Region']['name']+' '+advert['City']['name']}} </div>
									</div>


									<div class="price_tools_col">
										<div class="price">{{advert['Price']|mycurrency}} {{advert['Currency']}}</div>
										<div class="price_desc" ng-show="advert['IsPricePerUnit']">(за {{advert['PriceUnit']}})</div>
										<div class="price_desc" ng-show="!advert['IsPricePerUnit']">(всего)</div>
									</div>

								</div>
							</div>
						</div>
						
					</li>
				</ul>
			</div>
			
			<div class="right"
				ng-repeat="advert in ADVERTS.data"
				ng-if="advert['isVisible']"
				>
				<div class="description_chat">{{advert['Description']}}</div>
			
				<!--
				<div class="top"><span>To: <span class="name">{{advert['OwnerObj']['visibleName']}}</span></span>
				</div>
				-->
				
				
				<div class="chat active-chat" perfect-scrollbar>
				
					<div class="conversation-start">
						<span>Today, 6:48 AM</span>
					</div>
					
					<div class="bubble you"
						ng-repeat="message in advert['Messages'][$root.USER._id]"
						ng-class="{'you':$root.USER._id==message['from'],'me':$root.USER._id==message['to']}"
						>
						{{message['text']}}
					</div>
					
				</div>
			
				<div class="write"
					ng-init="writeInputFocused = false;"
					ng-class="{'active':writeInputFocused}"
					>
					<!-- <a href="javascript:;" class="write-link attach"></a> -->
					<input type="text"
						ng-focus="writeInputFocused=true"
						ng-blur="writeInputFocused=false"
						enter-press="sendMess(advert)"
						ng-model="message['text']"
						>
					<!-- 
					<a href="javascript:;" class="write-link smiley"></a> -->
					<md-icon
						ng-show="!$parent.$parent.messSpinner"
						ng-click="sendMess(advert)"
						>send</md-icon>
					<md-icon
						class="mess_spinner spin animated fadeIn"
						ng-show="$parent.$parent.messSpinner"
						>cached</md-icon>

				</div>



			</div>
		</div>
	</div>
	
	
	
	<div class="sub_title">
		<span>Отклики по намерениям в истории</span>
	</div>
	
	
	
	<div class="timeline_container">
	
	
		<div class="timesplitter"
			ng-repeat="advert in ADVERTS_HISTORY.data"
			>
			<div class="block current_date"
				ng-show="showHistorySplitter($index)"
				>
				<div>{{advert['dateForHistorySplitter']}}</div>
			</div>

		
			<div class="block advert_block"
				ng-class="{'active':advert['isVisible']}"
				ng-click="advert['isVisible']=!advert['isVisible']"
				>
				<div class="date_point">
					<div>{{advert['Created']|date:'dd'}}</div>
					<div>{{advert['Created']|date:'MMM'}}</div>
					<div class="avatar">
						<img ng-src="{{advert['OwnerObj']['avatarUrl']}}" alt="" />
						<div class="name">{{advert['OwnerObj']['visibleName']}}</div>
					</div>
				</div>

			
				<div class="advert with_user">
					<div class="for_flex">
						<div class="description_col">
							<div class="title">{{advert['Title']}}</div>
							<div class="region">{{advert['Region']['name']+' '+advert['City']['name']}}</div>
							
							<div class="desc">
								{{advert['Description']}}
							</div>
						</div>
						
						<div class="price_tools_col">
							<div class="price">{{advert['Price']|mycurrency}} {{advert['Currency']}}</div>
							<div class="price_desc" ng-show="advert['IsPricePerUnit']">(за {{advert['PriceUnit']}})</div>
							<div class="price_desc" ng-show="!advert['IsPricePerUnit']">(всего)</div>
						</div>

					</div>
					
					<h4>Ваши сообщения:</h4>
					<dynamic-chat-messages ng-if="advert['isVisible']"></dynamic-chat-messages>

						
				</div>

			</div>

		</div>
			
			
	</div>

	
	
</div>