<div class="profile_user_messages">



	<div class="sub_title">
		<span>Отклики по активным намерениям</span>
	</div>

	
	<div class="chat_container">
		<div class="container_">
			<div class="left"  perfect-scrollbar>
				<ul class="people">
					<li class="person" data-chat="person1"
						ng-click="personClick_top('person1','Thomas Bangalter')"
						>
						
						<div class="advert">
									
							<div class="advert">
								<div class="for_flex">
									<div class="avatar">
										<img src="https://s3.postimg.org/yf86x7z1r/img2.jpg" alt="" />
										<div class="user_name">Thomas Bandler</div>
									</div>
								
									<div class="description_col">
										<div class="title">Найму рабочую бригаду для строительства дома до 200 кв м</div>
										<div class="region">Киевская область</div>
										<div class="desc">
											необходмо построить дом двух этажный из красного кирпича. Перекрытия бетонные. 10 км от Киева
											Просьма отправлять ссылки на сделанные работы.

																	необходмо построить дом двух этажный из красного кирпича. Перекрытия бетонные. 10 км от Киева
											Просьма отправлять ссылки на сделанные работы.

											
										</div>
									</div>
									
									<div class="price_tools_col">
										<div class="price">900 000 грн</div>
										<div class="price_desc">(всего)</div>
									</div>
								</div>
							</div>
						</div>
						
					</li>
					
					<li class="person" data-chat="person2"
						ng-click="personClick_top('person2','Thomas Bangalter')"
						>
						
						<div class="advert">
									
							<div class="advert">
								<div class="for_flex">
									<div class="avatar">
										<img src="https://s3.postimg.org/h9q4sm433/img3.jpg" alt="" />
										<div class="user_name">Thomas Bandler</div>
									</div>
								
									<div class="description_col">
										<div class="title">Найму рабочую бригаду для строительства дома до 200 кв м</div>
										<div class="region">Киевская область</div>
										<div class="desc">
											необходмо построить дом двух этажный из красного кирпича. Перекрытия бетонные. 10 км от Киева
											Просьма отправлять ссылки на сделанные работы.

																	необходмо построить дом двух этажный из красного кирпича. Перекрытия бетонные. 10 км от Киева
											Просьма отправлять ссылки на сделанные работы.

											
										</div>
									</div>
									
									<div class="price_tools_col">
										<div class="price">900 000 грн</div>
										<div class="price_desc">(всего)</div>
									</div>
								</div>
							</div>
						</div>
						
					</li>

					<li class="person" data-chat="person3"
						ng-click="personClick_top('person3','Thomas Bangalter')"
						>
						
						<div class="advert">
									
							<div class="advert">
								<div class="for_flex">
									<div class="avatar">
										<img src="https://s30.postimg.org/kwi7e42rh/img6.jpg" alt="" />
										<div class="user_name">Thomas Bandler</div>
									</div>
								
									<div class="description_col">
										<div class="title">Найму рабочую бригаду для строительства дома до 200 кв м</div>
										<div class="region">Киевская область</div>
										<div class="desc">
											необходмо построить дом двух этажный из красного кирпича. Перекрытия бетонные. 10 км от Киева
											Просьма отправлять ссылки на сделанные работы.

																	необходмо построить дом двух этажный из красного кирпича. Перекрытия бетонные. 10 км от Киева
											Просьма отправлять ссылки на сделанные работы.

											
										</div>
									</div>
									
									<div class="price_tools_col">
										<div class="price">900 000 грн</div>
										<div class="price_desc">(всего)</div>
									</div>
								</div>
							</div>
						</div>
						
					</li>
					
				</ul>
			</div>
			
			<div class="right">
				<div class="top"><span>To: <span class="name">Dog Woofson</span></span>
				
				
				</div>
				
				
				<div class="chat" data-chat="person1" perfect-scrollbar>
				
				
					<div class="conversation-start">
						<span>Today, 6:48 AM</span>
					</div>
					<div class="bubble you">
						Hello,
					</div>
					<div class="bubble you">
						it's me.
					</div>
					<div class="bubble you">
						I was wondering...
					</div>
					
				</div>
				<div class="chat" data-chat="person2" perfect-scrollbar>
					<div class="conversation-start">
						<span>Today, 5:38 PM</span>
					</div>
					<div class="bubble you">
						Hello, can you hear me?
					</div>
					<div class="bubble you">
						I'm in California dreaming
					</div>
					<div class="bubble me">
						... about who we used to be.
					</div>
					<div class="bubble me">
						Are you serious?
					</div>
					<div class="bubble you">
						When we were younger and free...
					</div>
					<div class="bubble you">
						I've forgotten how it felt before
					</div>
				</div>
				
				
				
				<div class="chat" data-chat="person3" perfect-scrollbar>
				
				
					<div class="conversation-start">
						<span>Today, 3:38 AM</span>
					</div>
					<div class="bubble you">
						Hey human!
					</div>
					<div class="bubble you">
						Umm... Someone took a shit in the hallway.
					</div>
					<div class="bubble me">
						... what.
					</div>
					<div class="bubble me">
						Are you serious?
					</div>
					<div class="bubble you">
						I mean...
					</div>
					<div class="bubble you">
						It’s not that bad...
					</div>
					<div class="bubble you">
						But we’re probably gonna need a new carpet.
					</div>
					<div class="conversation-start">
						<span>Today, 3:38 AM</span>
					</div>
					<div class="bubble you">
						Hey human!
					</div>
					<div class="bubble you">
						Umm... Someone took a shit in the hallway.
					</div>
					<div class="bubble me">
						... what.
					</div>
					<div class="bubble me">
						Are you serious?
					</div>
					<div class="bubble you">
						I mean...
					</div>
					<div class="bubble you">
						It’s not that bad...
					</div>
					<div class="bubble you">
						But we’re probably gonna need a new carpet.
					</div>
					
					
				</div>
			
				<div class="write">
					<a href="javascript:;" class="write-link attach"></a>
					<input type="text" />
					<a href="javascript:;" class="write-link smiley"></a>
					<a href="javascript:;" class="write-link send"></a>
				</div>
			</div>
		</div>
	</div>
	
	
	
	<div class="sub_title">
		<span>Отклики по намерениям в истории</span>
	</div>
	
	
	
	<div class="timeline_container">
	
		<div class="block current_date">
			<div>25 Мая 2017</div>
		</div>

		
		<div class="month_container">
			
			<div class="block advert_block"
				ng-repeat="it in [1,2,3,4,5,6]"
				ng-click="active=!active;advertHistoryClick($index,active)"
				ng-class="{'active':active}"
				>
				<div class="date_point">
					<div>27</div>
					<div>Сен</div>
					<div class="avatar">
						<img src="https://s30.postimg.org/kwi7e42rh/img6.jpg" alt="" />
						<div class="name">Silvester Stalone</div>
					</div>
				</div>

			
				<div class="advert">
					<div class="for_flex">
						<div class="description_col">
							<div class="title">Найму рабочую бригаду для строительства дома до 200 кв м</div>
							<div class="region">Киевская область, Киев</div>
							
							<div class="desc">
								необходмо построить дом двух этажный из красного кирпича. Перекрытия бетонные. 10 км от Киева
								Просьма отправлять ссылки на сделанные работы.

														необходмо построить дом двух этажный из красного кирпича. Перекрытия бетонные. 10 км от Киева
								Просьма отправлять ссылки на сделанные работы.

								
							</div>
						</div>
						
						<div class="price_tools_col">
							<div class="price">900 000 грн</div>
							<div class="price_desc">(всего)</div>
						</div>
					</div>
					
					<h4>Ваши сообщения:</h4>
					<dynamic-chat-messages ng-if="active"></dynamic-chat-messages>

					
					
					
				</div>

			</div>

		</div>
		
		<div class="block registration_date">
			<div>01 Сентября 2017</div>
		</div>
			


		<div class="month_container">
			
			<div class="block advert_block"
				ng-repeat="it in [1,2,3,4,5,6]"
				>
				<div class="date_point">
					<div class="border"></div>
					<div>27</div>
					<div>Сен</div>
				</div>

			
				<div class="advert"
					ng-class="{'active':active}"
					ng-click="active=!active"
					>
					<div class="for_flex">
						<div class="description_col">
							<div class="title">Найму рабочую бригаду для строительства дома до 200 кв м</div>
							<div class="region">Киевская область, Киев</div>
							
							<div class="desc">
								необходмо построить дом двух этажный из красного кирпича. Перекрытия бетонные. 10 км от Киева
								Просьма отправлять ссылки на сделанные работы.
								
						
														необходмо построить дом двух этажный из красного кирпича. Перекрытия бетонные. 10 км от Киева
								Просьма отправлять ссылки на сделанные работы.

								
							</div>
							
							<div class="messages">
							</div>
						</div>
					
						<div class="price_tools_col">
							<div class="price">900 000 грн</div>
							<div class="price_desc">(всего)</div>
						</div>

					</div>
				
				</div>

			</div>

		</div>

		<div class="block registration_date">
			<div>25 Мая 2017</div>
		</div>

			
	</div>

	
	
</div>