<div class="profile_user_info">

	<myspinner class="off" ng-class="{'on':spinner,'off':!spinner}"></myspinner>

	<div class="left_col">

		<div class="avatar_container">
			<img class="avatar" ng-src="{{$root['USER']['avatarUrl']}}">
			<md-button class="md-primary" ng-click="openAddAvatar()"><md-icon>edit</md-icon></md-button>
		</div>
		
		<!-- 
		<div class="title">Активность:</div>
		<div class="key_figures">
			<div class="item"><div>Всего намерений</div><div>0</div></div>
			<div class="item"><div>Закрытых намерений</div><div>0</div></div>
			<div class="item"><div>Всего откликов</div><div>0</div></div>
		</div>
		-->
	</div>
	
	
	<div class="right_col">
	
		<div class="private_info">
			<div class="sub_title">
				<span>Личная информация</span>
				<div class="registration_date">дата регистрации 27.03.2017</div>
			</div>
			
			<form name="privateInfo"
				ng-class="{'formChanged':isChanged()}"
				>
				<div class="group">
				
					<md-input-container
						ng-class="{'changed':isChanged('visibleName')}"
						>
						<md-icon>person_outline</md-icon>
						<label>
							Видимое имя
						</label>
						<input
							name="visibleName"
							ng-model="account['visibleName']"
							min-length="5"
							md-maxlength="20"
							required
							>
							
						<div class="hint" ng-show="!checkError('visibleName')">Имя видное для остальных пользователей</div>
						
						<div class="messages" ng-messages="privateInfo.visibleName.$error">
							<div class="message" ng-message="required">Поле обязательное</div>
							<div class="message" ng-message="md-maxlength">Максимальная длина имени 20 символов</div>
							<div class="message" ng-message="min-length">Имя не может быть менее 5 символов</div>
						</div>


					</md-input-container>
					
					
					<md-input-container
						ng-class="{'changed':isChanged('name')}"
						>
						<md-icon>mail_outline</md-icon>
						<label>Ваша почта:</label>
						<input
							name="name"
							ng-model="account['name']"
							required
							type="email"
							>
							
						<div class="hint" ng-show="!checkError('name')">Используется для входа в профайл</div>
						
						<div class="messages" ng-messages="privateInfo.name.$error">
							<div class="message" ng-message="email">Почтовый адресс введен неверно</div>
							<div class="message" ng-message="required">Поля обязательное</div>
						</div>

							
					</md-input-container>
				</div>
				<div class="group phone">
					<md-input-container
						ng-class="{'changed':isChanged('phone')}"
						>
						<md-icon>phone</md-icon>
						<span>+38</span>
						<label>Телефон:</label>
						<input
							name="phone"
							ng-model="account['phone']"
							phone-mask
							phone-validator
							required
							ng-model-options={'allowInvalid':true}
							>
							
							
						<div class="messages" ng-messages="privateInfo.phone.$error">
							<div class="message" ng-message="phone-validator">Формат (0XX)XXX XX XX</div>
							<div class="message" ng-message="required">Поля обязательное</div>
						</div>
					</md-input-container>
				</div>
			</form>
			
			<div class="btn_block animated flipInX"
				ng-show="isChanged()"
				>
				<md-button class="cancel"
					ng-click="resetInfo()"
					>
					<md-icon>clear</md-icon>
					<span>Отменить</span>				
				</md-button>

				<md-button class="md-raised md-primary"
					ng-disabled="checkError()"
					ng-click="updateProfile()"
					>
					<span>Сохранить</span>				
					<md-icon>send</md-icon>
				</md-button>
			</div>

		</div>

		<div class="password">
			<div class="sub_title">
				<span>Изменить пароль</span>
			</div>
			
			<form name="passwordChange"
				ng-class="{'formChanged':passIsChanged()}"
				>
				<md-input-container>
					<md-icon>lock_outline</md-icon>
					<label>Текущий пароль</label>
					<input
						type="password"
						name="current"
						ng-model="pass['current']"
						ng-keyup="keyUp('current')"
						>
				</md-input-container>
				
				<md-input-container>
					<md-icon>lock_outline</md-icon>
					<label>Новый пароль</label>
					<input
						type="password"
						name="new"
						ng-model="pass['new']"
						ng-keyup="keyUp('new')"
						>
				</md-input-container>

				<md-input-container>
					<md-icon>lock_outline</md-icon>
					<label>Подтвердить новый пароль</label>
					<input
						type="password"
						name="confirm"
						ng-model="pass['confirm']"
						ng-keyup="keyUp('confirm')"
						>
				</md-input-container>
			
			</form>

			<div class="btn_block animated flipInX"
				ng-show="passIsChanged()"
				>
				<md-button class="cancel"
					ng-click="resetPassword()"
					>
					<md-icon>clear</md-icon>
					<span>Отменить</span>				
				</md-button>

				<md-button class="md-raised md-primary"
					ng-click="updatePassword()"
					>
					<span>Сохранить</span>				
					<md-icon>send</md-icon>
				</md-button>
			</div>
			
		<div>
		
		


		
	</div>
	
	
</div>