<div class="sales_container container">



	<div class="widget table_list md-whiteframe-1dp">



		<div class="header">
			<h3>Create Sale</h3>
			<h5>Contains list with all sales</h5>
		</div>
		<!--
		<div class="form_container">

			<md-input-container>
				<label>Goods Name</label>
				<input ng-model="sales_obj['name']">
			</md-input-container>


			<div class="price_qty">

				<md-input-container>
					<label>Qty</label>
					<input ng-model="sales_obj['qty']">
				</md-input-container>

				<md-input-container>
					<label>Price</label>
					<input ng-model="sales_obj['price']">
				</md-input-container>


			</div>


			<md-button class="md-raised md-primary"
					   ng-click="submit()"
					   ng-disabled="sales_obj.isEmpty()"
			>Save</md-button>

		</div>
		-->
		<div class="table_container">
			<table>
				<thead>
				<tr><th>
					<div class="th">Name</div>
					<div class="th">Qty</div>
					<div class="th">Price</div>
				</th></tr>
				</thead>

				<tbody>
				<tr ng-repeat="sale in SALES.data">
					<td>
						<div class="td">{{sale['name']}}</div>
						<div class="td">{{sale['qty']}}</div>
						<div class="td">{{sale['price']}}</div>
					</td>
				</tr>
				</tbody>
			</table>

		</div>

	</div>

</div>